// Variables

// Color
$gray: #ece1ce;
$yellow: #ebc372;
$blue: #64b6db;
$green_dark: #3a437d;
$green: #00c78c;
$red: #be322c;
$dark: #54565b;
// Elements
body {
  font-size: 18px;
}

textarea {
  display: block;
}

// Custom
.board {
  background: $blue;
  padding: 10px 20px;
  margin-bottom: 50px;

  &__item {
    background: $gray;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
  }

}

.button {
  border: none;
  border-radius: 0;
  padding: 5px 10px;
  margin-right: 2px;
  color: white;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }

  &--primary {
    background: $green_dark;
  }

  &--danger {
    background: $red;
  }

  &--success {
    background: $green;
  }
}
